<body>
  <div class = "boxcontainer">
    <div class = "boxcontact">
      <ul>
        <p>Miles Chao</p>
        <p>714-xxx-xxxx</p>
        <p>miles@csu.fullerton.edu</p>
      </ul>
    </div>
    <div class = "boxcontact">
      <ul>
        <p>Nestor Reategui</p>
        <p>714-xxx-xxx</p>
        <p>nestor@csu.fullerton.edu</p>
      </ul>
    </div>
    <div class = "boxcontact">
    <ul>
      <p>Robin Dunne</p>
      <p>714-xxx-xxx</p>
      <p>robin@csu.fullerton.edu</p>
    </ul>
    </div>
    <div class = "boxcontact">
    <ul>
      <p>Uy Vo</p>
      <p>714-xxx-xxx</p>
      <p>uyvo@csu.fullerton.edu</p>
    </ul>
    </div>
  </div>
</body>