<body style="background-color: peachpuff;">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" style="width:100%;max-width:5000px;display:flex;justify-content:center;"></canvas>
<div class="container">
<script>
const xValues = [];
{{#each stacks}}
xValues.push("{{this.stackHeading}}");

{{/each}}
const yValues = [];
{{#each stacks}}
yValues.push("{{cards.length}}")
{{/each}}

const barColors = [
 "lightblue",
 "lightgreen",
 "lightpink",
 "lightyellow",
 "lightcoral",
 "lightcyan",
 "lightgrey",
 "lightseagreen",
 "lightsalmon",
 "lightsteelblue",
 "greenyellow",
 "indianred",
 "khaki",
 "lavender",
 "lightsteelblue",
 "red",
 "yellow",
 "blue",
 "orange",
 "navy",
 "purple",
 "white",
 "black"
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
 options: {
  title: {
   display: true,
   text: "Items in your fridge",
   fontSize: 30
  },
  "legend": {
   "display": true,
   "labels": {
    "fontSize": 20,
   }
  }

  }
});
</script>
</div>
<script>
  let refresh = document.querySelectorAll("button");
  refresh.addEventListener("click", function() {
    location.reload();
  });
</script>

</body>
