<body>
  <div class = "dashboardcontainer">
    <div class = "boxdashboard">
      <ul>
        <div class="title1">Item in the Fridge</div>
        <p>Beef</p>
        <p>Porn</p>
        <p>Vegetables</p>
        <p>Eggs</p>
        <p>Milk</p>
        <p>Butter</p>

      </ul>
    </div>
    <div class = "boxdashboard">
      <ul>
        <div class="title1">Week's consumption</div>
        <p>Beef</p>
        <p>Porn</p>
        <p>Vegetables</p>
        <p>Eggs</p>
        <p>Milk</p>
        <p>Butter</p>
      </ul>
    </div>
  </div>
</body>