<div class="homepage">

  <h1>Welcome to Food in Fridge</h1>
  <p>Food in Fridge is a calorie and quantity tracker built for your fridge and and all your healthy cravings in one place.</p>
  <p>Our goal at Food in Fridge is to help meal prep and managing eaiser and fun.</p>
  <img src="/assets/images/fridge.jpeg" alt="company logo">
  <div class="summary">

    <details>
      <summary>What we Do</summary>
      Here at Food in Fridge we strive to make it easier for you and others to access the contents of your fridge without leaving your computer.
    </details>

    <details>
      <summary>Our goals</summary>
      Our goal is to help keep you fit by providing a service to maintain and plan out your meals for the entire week.
    </details>

    <details>
      <summary>Services</summary>
      We offter many services to take control of your fridge.  In the dashboard you can see the current contents of your fride and you can easily add and remove food though our intuitive fridge and consume algorithm.
    </details>

  </div>

  <div class="example-items">
    <h2>Products we support</h2>
    <p>Fruits</p>
    <p>Dairy</p>
    <p>Meat</p>
    <p>Vegetables</p>
    <p>Drinks</p>
    <p>Snacks</p>
  </div>


</div>