<body style="background-color: peachpuff;">

 <div class="homepage">
  <h1>Welcome to Food in Fridge</h1>
  <p>Food in Fridge is a calorie and quantity tracker built for your fridge and and all your healthy cravings in one
   place.</p>
  <p>Our goal at Food in Fridge is to help meal prep and managing eaiser and fun.</p>
  <img src="/assets/images/fridge.jpg" alt="company logo">


  <div class="summary">
   <details class="summary-items">
    <summary>What we Do</summary>
    Here at Food in Fridge we strive to make it easier for you and others to access the contents of your fridge without
    leaving your computer.
   </details>
   <details class="summary-items">
    <summary>Our goals</summary>
    Our goal is to help keep you fit by providing a service to maintain and plan out your meals for the entire week.
   </details>
   <details class="summary-items">
    <summary>Services</summary>
    We offer many services to take control of your fridge. In the Dashboard you can see the current contents of your
    fridge and you can create categories of food you want to store in our Fridge page.
   </details>
  </div>

 <p>Made with &#10084 by</p>
  <div class="boxcontainer">
   <div class="boxcontact">
    <ul>
     <p>Miles Chao</p>
     <p>310-887-2121</p>
     <p>miles@csu.fullerton.edu</p>
    </ul>
   </div>
   <div class="boxcontact">
    <ul>
     <p>Nestor Reategui</p>
     <p>949-123-6254</p>
     <p>nestor@csu.fullerton.edu</p>
    </ul>
   </div>
   <div class="boxcontact">
    <ul>
     <p>Robin Dunne</p>
     <p>714-777-7777</p>
     <p>robin@csu.fullerton.edu</p>
    </ul>
   </div>
   <div class="boxcontact">
    <ul>
     <p>Uy Vo</p>
     <p>714-899-2812</p>
     <p>uyvo@csu.fullerton.edu</p>
    </ul>
   </div>
  </div>
 </div>

</body>
