/* Basic CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  display: inline-block;
  height: 36px;
  padding: 0 12px;
  line-height: 36px;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  background-color: #536988;
  border-radius: 5px;
}
.button--large {
  height: 42px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 42px;
}
.button--account {
  margin-top: 1rem;
}
.button--plus-square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  margin-left: auto;
  line-height: normal;
  padding: 0;
}
.button--add-stack {
  margin-left: 1.25rem;
}
.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

body {
  overflow-x: hidden;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}

.ball1 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #c00;
  position: relative;
  animation: moving1 8s linear infinite;
}
.ball2 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #c00;
  position: relative;
  animation: moving2 8s linear infinite;
}


@keyframes moving1 {
  0% {
      top: 0;
      left:0;

  }
  25% {
      top: 0;
      left:90%;
      background: cyan;
  }
  50% {
      top: 80%;
      left:90%;
      background: green;
  }
  75% {
      top: 80%;
      left:0%;
      background: yellow;
  }
  100% {
      top: 0;
      left:0;
      background: black;
  }
}

@keyframes moving2 {
  0% {
      top: 0;
      left:0;

  }
  25% {
      top: 80%;
      left:0%;
      background: cyan;
  }
  50% {
      top: 80%;
      left:90%;
      background: green;
  }
  75% {
      top: 0%;
      left:90%;
      background: yellow;
  }
  100% {
      top: 0;
      left:0;
      background: black;
  }
}
table {
  width: 100%;
  align-content: center;
}
td {
  width: 50%;
  padding: 5;
}

@keyframes moving3 {
  0% {
      top: 0;
      left:0;

  }
  25% {
      top: 0;
      left:90%;
      background: cyan;
  }
  50% {
      top: 100%;
      left:90%;
      background: green;
  }
  75% {
      top: 80%;
      left:0%;
      background: yellow;
  }
  100% {
      top: 0;
      left:0;
      background: black;
  }
}